.container {
  text-align: center;
  .display-3 {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 25%;
    color: coral !important;
  }
  p {
    color: black !important;
    margin-top: 15px;
  }
  .btn {
    margin-top: 15px;
  }
}
